/*
Row wise styling
*/
.container{
  width: 400px;
  background-color: #F8F8F8;
  border-radius: 15px;
  height: 350px;
}

.col{
  float: right;
}

/*
Buttonwise styling
*/

.answer{
  height: 50px;
  background-color: #fff0f5;
  border-radius: 15px;
  margin: 15px 15px 15px 15px;
  text-align: right;
}

#display{
  width: 325px;
  margin-top: 10px;
  margin-right: 15px;
  text-align: right;
  height: 20px;
}

.equal{
  background-color: #00ff00;
  border-radius: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.plus, .minus, .multi, .divide{
  background-color: #daa520;
  border-radius: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.zero{
  background-color: #d3d3d3;
  border-radius: 10px;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.row{
  float: left;
}
